<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="/styles/wuwaForm.css" rel="stylesheet">
    <link href="/styles/header.css" rel="stylesheet">
</head>
<body>
<div class="header" th:insert="header.html :: header"></div>
<div class="form-wrapper">
    <h1 style="text-align: center">Add a new wuwa character</h1>
    <form action="/wuwa/newChar" class="new-char-form" method="post" th:object="${wuwaChar}">
        <div class="form-group">
            <label for="name">Name</label>
            <input id="name" name="name" required th:field="*{wuwaChar.name}" type="text"/>
        </div>
        <div class="form-group">
            <label for="hp">HP</label>
            <input id="hp" name="hp" required th:field="*{wuwaChar.hp}" type="text"/>
        </div>
        <div class="form-group">
            <label for="atk">ATK</label>
            <input id="atk" name="atk" required th:field="*{wuwaChar.atk}" type="text"/>
        </div>
        <div class="form-group">
            <label for="def">DEF</label>
            <input id="def" name="def" required th:field="*{wuwaChar.def}" type="text"/>
        </div>

        <div class="form-group">
            <label for="max-energy">Max Energy</label>
            <input id="max-energy" name="maxEnergy" required th:field="*{wuwaChar.maxEnergy}" type="text"/>
        </div>
        <div class="form-group">
            <label for="element">Element</label>
            <select id="element" name="element" th:field="*{wuwaChar.element}">
                <option value="Aero">Aero</option>
                <option value="Electro">Electro</option>
                <option value="Fusion">Fusion</option>
                <option value="Havoc">Havoc</option>
                <option value="Spectro">Spectro</option>
                <option value="Glacio">Glacio</option>
            </select>
        </div>

        <div class="form-group">
            <label for="weapon-type">Weapon type</label>
            <select id="weapon-type" name="weapontype" th:field="*{wuwaChar.weaponType}">
                <option value="Broadblade">Broadblade</option>
                <option value="Pistol">Pistol</option>
                <option value="Gauntlet">Gauntlet</option>
                <option value="Sword">Sword</option>
                <option value="Rectifier">Rectifier</option>
            </select>
        </div>

        <div class="form-group">
            <label for="rarity">Rarity</label>
            <select id="rarity" name="rarity" th:field="*{wuwaChar.rarity}">
                <option value="5-star">5-star</option>
                <option value="4-star">4-star</option>
            </select>
        </div>

        <div class="form-group">
            <label for="png-name">PNG name</label>
            <input id="png-name" name="img-path" required th:field="*{wuwaChar.img_path}" type="text"/>
        </div>

        <div class="separate">
            <label for="lore-summary">Lore summary</label>
            <textarea id="lore-summary" name="summary"
                      required th:field="*{wuwaCharLore.loreSummary}" cols="30" rows="10"></textarea>
        </div>

        <button type="submit">Submit</button>
    </form>
</div>
</body>
</html>