<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/styles/header.css">
    <link rel="stylesheet" href="/styles/characterPage.css">
    <link rel="stylesheet" href="/styles/particles.css">
    <link rel="stylesheet" href="/styles/charCard.css">
</head>
<body>
    <div th:insert="~{header.html :: header}" class="header"></div>
    <div id="character-page" th:class="${wuwaChar.element.toLowerCase()}+'-background'">
    <div th:insert="~{particles.html::particles}"></div>
        <h1 style="text-align: center" th:text = "${wuwaChar.name}"></h1>
        <div class="basic-char-info">
            <div class="character-card" th:classappend="${wuwaChar.rarity.equals('5-star')?'five-star':'four-star'}">
                <img th:src="${wuwaChar.img_path}" th:alt="${wuwaChar.name}">
                <div class="stats">
                    <div class="rarity">
                        <img th:src="@{/GachaGameImages/Wuwa/Wuwa_rarity_img/{rarity}.png(rarity = ${wuwaChar.rarity})}" th:alt="${wuwaChar.rarity}" />
                    </div>
                    <div class="survivability-stats">
                        <span class="stat-span" th:text = " 'HP:'+ ${wuwaChar.hp}"></span>
                        <span class="stat-span" th:text = "'DEF:'+${wuwaChar.def}"></span>
                    </div>
                    <div class="combat-stats">
                        <span class="stat-span" th:text = "'ATK: '+${wuwaChar.atk}"></span>
                        <span class="stat-span" th:text = "'Energy: '+${wuwaChar.maxEnergy}"></span>
                    </div>
                </div>
                <div class="attributes">
                    <img class="element-icon" th:src="@{/GachaGameImages/Wuwa/Wuwa_elements_img/{element}_Icon.png(element=${wuwaChar.element})}" th:alt="${wuwaChar.element}"/>
                    <img class="weapon-icon" th:src="@{/GachaGameImages/Wuwa/Wuwa_weapons_img/{weaponType}_Icon.png(weaponType=${wuwaChar.weaponType})}" th:alt="${wuwaChar.weaponType}"/>
                </div>
            </div>
            <div class="character-info">
                <h2>Brief Summary</h2>
                <p th:text = "${loreSummary}"></p>
            </div>
        </div>
        <div class="in-depth-char-info">
        </div>
    </div>
</body>
</html>