<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="/styles/style.css" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
</head>
<body>
<header th:fragment="header">
    <div id="nav_bar">
        <a href="/characters">
            <h2 id="logo">GachaReview</h2>
        </a>
        <nav class="nav-elements">
            <ul>
                <a><li>Links</li></a>
                <a><li>Links</li></a>
                <a><li>Links</li></a>
            </ul>
        </nav>
    </div>
</header>
</body>
</html>
