*{
    margin:0;
    padding:0;
    font-family:Arial, Helvetica, sans-serif;
}

.glacio-background{
    background-image: linear-gradient(#1e90ff,#99badd);
    height: 89.4vh;
}
.havoc-background{
    background-image: linear-gradient(#66023c,#b92e34);
    height: 89.4vh;
}
.fusion-background{
    background-image: linear-gradient(#e34234,#f5f5f5);
    height: 89.4vh;
}
.spectro-background{
    background-image: linear-gradient(#fdd017,#f8de7e);
    height: 89.4vh;
}
.electro-background{
    background-image: linear-gradient(#6247AA,#A594F9);
    height: 89.4vh;
}
.aero-background{
    background-image: linear-gradient(#3eb489,#90EE90);
    height: 89.4vh;
}

h1{
    font-size: 3rem ;
    position: relative;
}

.basic-char-info{
    height: 80vh;
    z-index: 1;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}


.character-info{
    height:55vh;
    width:30%;
    align-items: start;
    position: relative;
}
.character-info h2{
    font-size: 2rem;
    text-align: center;
}
.character-info p{
    text-align: justify;
    text-justify: inter-word;
    font-size: 1.5rem;
}

