*{
    margin:0;
    padding:0;
}

.glacio-background{
    background-image: linear-gradient(#1e90ff,#99badd);
    height: 89.4vh;
}
.havoc-background{
    background-image: linear-gradient(#66023c,#b92e34);
    height: 89.4vh;
}
.fusion-background{
    background-image: linear-gradient(#e34234,#f5f5f5);
    height: 89.4vh;
}
.spectro-background{
    background-image: linear-gradient(#fdd017,#f8de7e);
    height: 89.4vh;
}
.electro-background{
    background-image: linear-gradient(#6247AA,#A594F9);
    height: 89.4vh;
}
.aero-background{
    background-image: linear-gradient(#3eb489,#90EE90);
    height: 89.4vh;
}

h1{
    position: relative;
}

.basic-char-info{
    z-index: 1;
    padding-top:3rem;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.character-card{
    overflow: hidden;
    position: relative;
    width:300px;
    height:500px;
    border: 1px solid black;
    border-radius: 10px;
}

.character-card img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    -webkit-mask-image: -webkit-linear-gradient(black 80%,transparent);
    mask-image: linear-gradient(black 80%, transparent);
}

.attributes{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    z-index: 2;
}
.attributes img{
    height: auto;
    width: auto;
    max-width: 40px;
    max-height: 40px;
    filter: drop-shadow(5px 3px black);
    font-size: 0;
}

.stats{
    width: 100%;
    height:40%;
    position: absolute;
    bottom: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}
.survivability-stats, .combat-stats{
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    align-items: center;
}


.stat-span{
    text-align: center;
    border: 1px solid black;
    border-radius: 5px;
    color: white;
    background-color: black;
    padding: 0.5rem;
    width: 80px;
    box-shadow: #434343 3px 2px;
}

.five-star{
    background-image: linear-gradient(darkgoldenrod, gold);
}

.four-star{
    background-image: linear-gradient(darkslateblue, purple);
}


.rarity{
    display: flex;
    position: absolute;
    width: 100%;
    justify-content: center;
    align-items: center;
    top: 0.2rem;

}
.rarity img{
    width: auto;
    height: 2rem;
    max-width: 100%;
    max-height:100%;
}

.character-info{
    height:55vh;
    width:30%;
    align-items: start;
    position: relative;
}
.character-info h1{
    text-align: center;
}

