.character-card{
    overflow: hidden;
    position: relative;
    width:400px;
    height:600px;
    border: 1px solid black;
    border-radius: 10px;
}

.character-card img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    -webkit-mask-image: -webkit-linear-gradient(black 80%,transparent);
    mask-image: linear-gradient(black 80%, transparent);
}

.attributes{
    position: absolute;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 2;
    top: 0.2rem;
    padding-right:5px;
}
.attributes img{
    height: auto;
    width: auto;
    max-width: 60px;
    max-height: 60px;
    filter: drop-shadow(5px 3px black);
    font-size: 0;
}

.stats{
    width: 100%;
    height:30%;
    position: absolute;
    bottom: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}
.survivability-stats, .combat-stats{
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    align-items: center;
}


.stat-span{
    text-align: center;
    border: 1px solid black;
    border-radius: 5px;
    color: white;
    background-color: black;
    padding: 0.5rem;
    width: 100px;
    box-shadow: #434343 3px 2px;
}

.five-star{
    background-image: linear-gradient(darkgoldenrod, gold);
}

.four-star{
    background-image: linear-gradient(darkslateblue, purple);
}


.rarity{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;

}
.rarity img{
    width: auto;
    height: 3rem;
    max-width: 100%;
    max-height:100%;
}