#filters{
    background-color: black;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    margin-bottom:1rem;
    padding:1rem;
    height: 20vh;
}

.list_elements{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width:40vw;
}

.list_weapons{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width:33vw;
}

#filters img{
    height: auto;
    width: auto;
    max-width: 60px;
    max-height: 100px;
    border:solid 1px black;
    border-radius: 10px;
    transition: transform 0.6s;
    transform-style: preserve-3d;
}
#filters img:hover{
    transform: rotateY(360deg);
    cursor: pointer;
}
.aero-icon:hover{
    box-shadow: 0 0 5px 5px #58fcb4;
}
.fusion-icon:hover{
    box-shadow: 0 0 5px 5px #ec744c;
}
.glacio-icon:hover{
    box-shadow: 0 0 5px 5px #48acfc;
}
.electro-icon:hover{
    box-shadow: 0 0 5px 5px #b86cfc;
}
.spectro-icon:hover{
    box-shadow: 0 0 5px 5px #ffe46c;
}
.havoc-icon:hover{
    box-shadow: 0 0 5px 5px #e84ca4;
}

#filters .list_weapons img:hover{
    box-shadow: 0 0 5px 5px white;
}

.clicked-aero{
    box-shadow: 0 0 5px 5px #58fcb4;
}
.clicked-fusion{
    box-shadow: 0 0 5px 5px #ec744c;
}
.clicked-glacio{
    box-shadow: 0 0 5px 5px #48acfc;
}
.clicked-electro{
    box-shadow: 0 0 5px 5px #b86cfc;
}
.clicked-spectro{
    box-shadow: 0 0 5px 5px #ffe46c;
}
.clicked-havoc{
    box-shadow: 0 0 5px 5px #e84ca4;
}

.clicked-weapon{
    box-shadow: 0 0 5px 5px white;
}