*{
    margin: 0;
    padding: 0;
    color: white;
}

body{
    height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: black;
}

h1{
    padding: 1rem;
}

input,button,select,textarea{
    font-family: inherit;
}

.form-wrapper{
    flex: 1;
    display: flex;
    justify-content:center;
    align-items: center;
    flex-direction: column;
}

form{
    display: grid;
    gap: 1rem;
    width: 40vw;
    border-radius: 10px;
    padding:2rem;
    background-color: #1D2034;
    grid-template-columns:1fr 1fr;
}
.form-group{
    display: grid;
    gap: 0.5rem;
}

label{
    font-size:1rem;
    text-transform: uppercase;
}
input,select{
    border-radius: 5px;
    background-color: #691EEA;
    border: none;
    height: 2rem;
    width: 100%;
    padding-left: 0.5rem;
}

.separate{
    grid-column: 1/-1;
    display: grid;
    gap: 0.5rem;
    width: 100%;
}

textarea{
    border-radius: 5px;
    background-color: #691EEA;
    border: none;
    width: 100%;
    padding: 0.5rem;

    resize: vertical;
}

.new-char-form button{
    justify-self: start;
    height: 3rem;
    border: none;
    background-color: #691EEA;
    border-radius: 15px;
    font-size: 1rem;
    padding: 1rem;
}

.new-char-form button:hover{
    cursor: pointer;
    filter: brightness(70%);
}
